/* styles.css */

/* Estilos Gerais */
body {
    font-family: 'Proza Libre', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu li {
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

.menu-toggle {
    display: none;
}

.section01 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section01 .des h1 {
    padding-bottom: 35px;
}

.des {
    margin-right: 5%;
    width: 900px;
}

.des p {
    width: auto;
    text-align: justify;
}

.imge {
    width: 500px;
    height: 500px;
}

.section02 {
    display: flex;
    justify-content: center;
}

.des02 {
    margin-right: 5%;
}

.des02 {
    width: 100%;
}

.des02 p{
    width: auto;
    text-align: justify;
}

.des03 {
    width: 100%;
}

.des03 p {
    width: auto;
    text-align: justify;
}

.des02 ul li img{
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

.des02 ul{
    display: flex;
    justify-content: center;
}

.des02 li {
    margin-right: 5%;
    margin-left: 5%;
}

.section03 {
    display: flex;
    justify-content: center;
}

.section03 .des04 .abas {
    background-color: #2575fc;
    color: #fff;
    font-weight:bold;
    padding: 10px 5px;
    transition: background-color 0.3s, color 0.3s;
    outline: none; /* Remove outline ao focar */
    border-bottom: transparent solid 2px;
    border-left: transparent solid 4px;
    border-right: transparent solid 4px;
    border-top: transparent solid 2px;
}

.section03 .des04 .abas:hover,
.section03 .des04 .abas:focus {
    background-color: #7aa7f7;
    color: #fff;
    border-bottom: #000 solid 2px;
    border-left: #000 solid 4px;
    border-right: #000 solid 4px;
    border-top: #000 solid 2px;
}

.des04 ul{
    display: flex;
}

.des04 ul li {
    width: 100%;
}

.des04 ul li img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.section04 {
    justify-content: center;
}

.section04 a {
    background-color: #2575fc;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
}

.section04 a:hover{
    background-color: #fff;
    color: #2575fc;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
}

.section04 ul{
    display: flex;
}

.section04 ul li {
    width: 100%;
}

.section04 ul li img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.section04 nav .abas {
    background-color: #2575fc;
    color: #fff;
    font-weight:bold;
    transition: background-color 0.3s, color 0.3s;
    outline: none; /* Remove outline ao focar */
    border-bottom: transparent solid 2px;
    border-left: transparent solid 4px;
    border-right: transparent solid 4px;
    border-top: transparent solid 2px;
}

.section04 nav .abas:hover,
.section04 nav .abas:focus {
    background-color: #7aa7f7;
    color: #fff;
    border-bottom: #000 solid 2px;
    border-left: #000 solid 4px;
    border-right: #000 solid 4px;
    border-top: #000 solid 2px;
}


.section02, .section03, .section04, .section05, .section06 {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    font-family: 'Special Elite', cursive;
    color: #2575fc;
}

.typewriter h1 {
    font-family: 'Special Elite', cursive;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #333;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    transition: background 0.3s;
}

li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
    border-radius: 5%;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    display: block;
}

.des07 {
    text-align: left;
}

.des07 label{
    font-size: 20px;
    color: #2575fc;
}

.des07 a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.section06{
    display: block;
}
.section06 .des07{
    display: block;
}

.des08 {
    text-align: center;
}

/* Porcentagem */

.skill-bar {
    width: 80%;
    background-color: #ddd;
    border-radius: 25px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    margin-left: 10%;
}

.skill-bar-inner {
    height: 30px;
    width: 0;
    background-color: rgba(1, 100, 370, 0.4);
    border-radius: 25px 0 0 25px;
    transition: width 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    position: relative;
}

.skill-bar-inner .skill-bar-percentage {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 2s;
}

/* Responsividade */

@media (max-width: 1280px){
    .section01 {
        display: block;
        justify-content: center;
    }

    .des {
        width: auto;
        margin-right: 0%;
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle .hamburger {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px 0;
        transition: all 0.3s;
    }

    .menu-toggle.active .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .hamburger:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu-toggle.active ~ .menu {
        display: flex;
    }
    
    .section01{
        display: block;
        text-align: center;
    }

    .des {
        width: auto;
        margin-right: 0%;
    }

}

@media (max-width: 768px) {
    .section01, .section02, .section03, .section04, .section05, .section06 {
        padding: 30px 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .section01 .des p{
        width: 100%;
        max-width: 100%;
    }

    .section01 .des h1{
        width: 100%;
    }

    .section02 {
        display: block;
    }

    .des, .des02, .des03, .des04, .des05, .des06, .des07, .des08 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        max-width: 100%;
    }

    .ul01, .ul02, .ul03, .ul04{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .ul01 li, .ul02 li, .ul03, .ul04 li {
        width: 100%;
        max-width: 100%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-item {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .des {
        width: auto;
        margin-right: 0%;
    }

}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .typewriter h1 {
        font-size: 1.2em;
    }

    .menu li {
        margin: 10px 0;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-item label {
        font-weight: bold;
    }

    .des {
        width: auto;
        margin-right: 0%;
    }

}
